
requests
beautifulsoup4
ftfy
pandas
tabulate
numpy
matplotlib
seaborn
scikit-learn
imbalanced-learn
joblib
chromadb
langgraph
pydantic
sentence-transformers
groq
fastapi
uvicorn
sqlite3
python-dotenv


